<ion-header [translucent]="true">
  <ion-toolbar class="header-container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-row class="header-contents">
      <ion-text class="header-title">
        Chat List
      </ion-text>

      <ion-buttons>
        <ion-button>
          <ion-icon class="search-btn" name="search"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon class="more-btn" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="chat-list-container" *ngFor="let user of users">
    <ion-row 
    [id]="user?.id?.value" 
    (click)="selectChat(user?.id?.value)"
    class="ion-activatable chat-box ripple-parent" 
    #tappedChat
    >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-row class="chat-profile-container">
        <img class="chat-profile-img" [src]="user?.picture?.large" alt="">
      </ion-row>

      <ion-row class="chat-info-container">
        <ion-row class="chat-info-user-content">
          <ion-text class="chat-username">{{user?.name === undefined ? user?.cell : user?.name}}</ion-text>
          <ion-text class="chat-recent-message">This is the last message the sender sent sent sent sent sent
            sent
            sent
          </ion-text>
        </ion-row>

        <ion-row class="chat-info-timestamp-cotainer">
          <ion-text class="chat-recent-timestamp">7:21pm</ion-text>
          <ion-row class="chat-unseen-indicator">
            <ion-text class="">2</ion-text>
          </ion-row>
        </ion-row>
      </ion-row>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="importContacts()" data-desc="Sync contacts from Phone">
        <ion-icon name="sync"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Import contacts from .CSV file">
        <!-- Add the openFileChooser() function (click) on the above ion-fab-button -->
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- <ion-button (click)="importContacts()">
    Import Contacts
  </ion-button> -->
</ion-content>