<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-grid>
    <ion-row>

      <ion-text class="template-container-title">
        Best template for shopname
      </ion-text>
      <swiper-container [slidesPerView]="1" [loop]="true" [pagination]="true">
        <swiper-slide *ngFor="let template of customTemplates">
          <ion-grid class="template-container">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

            <ion-row class="flex flex-col">
              <ion-text>Card Title</ion-text>
              <ion-text>{{template[1].text}}</ion-text>
            </ion-row>

            <ion-text class="template-text">
              {{template[0].text}}
            </ion-text>
            <ion-button (click)="goToContacts()">
              {{template[3].buttons[0].text}}
            </ion-button>
          </ion-grid>
        </swiper-slide>
      </swiper-container>
    </ion-row>

    <!-- 2nd Template carousel -->
    <ion-row>
      <ion-text class="template-container-title">
        Best template for top selling products
      </ion-text>
      <swiper-container [slidesPerView]="1" [loop]="true" [pagination]="true">
        <swiper-slide *ngFor="let template of customTemplates">
          <ion-grid class="template-container">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

            <ion-row class="flex flex-col">
              <ion-text>Card Title</ion-text>
              <ion-text>{{template[1].text}}</ion-text>
            </ion-row>

            <ion-text class="template-text">
              {{template[0].text}}
            </ion-text>
            <ion-button (click)="goToContacts()">
              {{template[3].buttons[0].text}}
            </ion-button>
          </ion-grid>
        </swiper-slide>
      </swiper-container>
    </ion-row>

    <!-- 3nd Template carousel -->
    <ion-row>
      <ion-text class="template-container-title">
        Best trendy template
      </ion-text>
      <swiper-container [slidesPerView]="1" [loop]="true" [pagination]="true">
        <swiper-slide *ngFor="let template of customTemplates">
          <ion-grid class="template-container">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

            <ion-row class="flex flex-col">
              <ion-text>Card Title</ion-text>
              <ion-text>{{template[1].text}}</ion-text>
            </ion-row>

            <ion-text class="template-text">
              {{template[0].text}}
            </ion-text>
            <ion-button (click)="goToContacts()">
              {{template[3].buttons[0].text}}
            </ion-button>
          </ion-grid>
        </swiper-slide>
      </swiper-container>
    </ion-row>
  </ion-grid>
</ion-content>