swiper-container {
  height: auto;
  width: 100%;
}

.template-container-title {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */

  font-weight: 500;
}

.template-container {
  padding: 0.75rem;
}

.template-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}
